@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.projectsBlock {
    padding: 50px 0;
    background-color: $bgSecondColor;

    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;

        .projects {
            @include flex(flex, center);
            width: 100%;
            flex-wrap: wrap;
            margin-top: 50px;
            align-items: flex-start;
            gap: 50px;        
        }
    }
}
