@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.projectsBlock {
    padding: 50px 0;
    background-color: $bgColor;

    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;

        .projects {
            @include flex(flex, space-between);
            width: 100%;
            flex-wrap: wrap;
            margin-top: 30px;
            align-items: flex-start;
            @media screen and (max-width: 1267px) {
                justify-content: center;
            }
        }
    }
}
